<ion-view>
  <ion-nav-title>
    <img class="header-logo-left" src="assets/img/logo.png"></img>
    Get some eats!
  </ion-nav-title>
  <ion-content class="padding routes">
    <div class="list">

      <div ng-show="loading">
        <img class="loading-spinner" src="assets/img/loading.svg"/>
      </div>

      <div ng-repeat="resultBlock in searchResults">

        <div class="item item-divider section">
          {{ resultBlock.title }}
        </div>

        <div class="card" ng-repeat="item in resultBlock.businesses" ng-click="goItemDetail(item.id)">
          <div class="item item-avatar">
            <img class="profile-img" ng-src="{{ item.image_url }}">
            <h2 class="card-header">
              {{ item.name }}
              <span class="right rating-bar">
                <img ng-src="{{ item.rating_img_url }}">
              </span>
            </h2>
            {{ item.categories[0][0] }}
          </div>
          <div>
            <span class="travel-time">{{ item.travel.travel_minutes | number:0 }} minutes away</span>
            <span class="wait-time">{{ item.wait.wait_minutes }} minutes wait</span>
          </div>

        </div>

      </div>

    </div>
    <br>

  </ion-content>

</ion-view>
