<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive tabs-top tabs-striped">
  <!-- WaitBall Tab -->
  <ion-tab title="Magic" icon-off="ion-wand" icon-on="ion-wand" ui-sref="tab.my-actions">
    <ion-nav-view name="tab-my-actions"></ion-nav-view>
  </ion-tab>

  <!-- Search Tab -->
  <ion-tab title="Recommendations" icon-off="ion-search" icon-on="ion-search" ui-sref="tab.my-items">
    <ion-nav-view name="tab-my-items"></ion-nav-view>
  </ion-tab>

  <!-- Feed Tab -->
  <ion-tab title="Activity" icon-off="ion-ios-people" icon-on="ion-ios-people" ui-sref="tab.my-feed">
    <ion-nav-view name="tab-my-feed"></ion-nav-view>
  </ion-tab>
</ion-tabs>
