/* Empty. Add your own CSS if you like */

/*global*/

img.header-logo-left {
  width: 44px;
  height: 44px;
  margin-top: 0px;
  margin-right: 6px;
  float: left;
}

/* Material Yellow */

ion-tabs.tabs-color-active-positive .tab-item.tab-item-active {
    color: #F57F17;
}

ui-gmap-google-map.trip-map-summary > div.angular-google-map > div.angular-google-map-container {
  width: 100%;
  /*height: 300px;  this needs to be in px because google maps? */
}

.nav-bar-block .bar {
  background-color: #F57F17 !important;
}

.bar.bar-stable .title {
  color: black !important;
}

.bar-stable .back-button .icon.ion-ios-arrow-back {
  color: black !important;
}

.bar-stable .back-button .icon.ion-android-arrow-back {
  color: black !important;
}

ion-content {
  background-color: #FFF59D;
}


div.name {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

.wait-button-1 {
  background-color: #FFD54F !important;
  border-color: #FFD54F !important;
  color: black !important;
  margin-top: 20px !important;
}

.wait-button-2 {
  background-color: #FFCA28 !important;
  border-color: #FFCA28 !important;
  color: black !important;
}

.wait-button-3 {
  background-color: #FFC107 !important;
  border-color: #FFC107 !important;
  color: black !important;
}

.wait-button-4 {
  background-color: #FFB300 !important;
  border-color: #FFB300 !important;
  color: black !important;
}

.wait-button-5 {
  background-color: #FFA000 !important;
  border-color: #FFA000 !important;
  color: black !important;
}

.wait-button-6 {
  background-color: #FF8F00 !important;
  border-color: #FF8F00 !important;
  color: black !important;
}

.wait-button-7 {
  background-color: #BF360C !important;
  border-color: #BF360C !important;
  color: white !important;
}


/* list dividers */
.item.item-divider.section {
  background-color: #FF8F00;
  text-align: center;
  border: none;
  font-weight: 500;
  font-size: 1.4em;
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;

}

.left {
  float: left;
}

.right {
  float: right;
}

.hide {
  display: none;
}

.login.button {
  margin: 10px auto;
}




/*
 * Feed tab styling
 */

.type-header::first-letter {
  text-transform: capitalize;
}

#snapshot-button .ion-ios-camera {
  font-size: 1.5em;
  vertical-align: middle;
}

.submitting {
  font-size: 1.3em;
  font-weight: 600;
  font-style: italic;
  color: #607D8B;
  text-align: center;
}

.thanks {
  font-size: 1.3em;
  font-weight: 500;
  color: #4CAF50;
  text-align: center;
}

.picture {
  margin: 0 auto;
  text-align: center;
}
 
.report-type {
  width: 30px;
  vertical-align: middle;
}

.list-type {
  width: 24px;
  vertical-align: middle;
}

.top-row {
  clear: both;
  padding-bottom: 5px;
}


.tabs.tabs-secondary .tab-item.adopt {
  font-size: .8em;
}

.button-type-container {
  display: inline; 
}

.bar .buttons span {
  color: white;
}

h2.card-header {
  font-weight: bold;
}

span.rating-bar {
  margin-top: 3px;
}


/* end this app */







i.action-completed {
    color: #03A9F4;
}


img.loading-spinner {
  margin-top: 80px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


span.travel-time {
  margin-left: 20px;
}

span.wait-time {
  margin-right: 20px;
  float: right;
}


.item-image {
  display: inline;
  float: left;
  margin-right: 10px;
}

.item-description {
}

.business-item {
    padding-right: 10px;
    text-align: justify;
}

.detail-icon {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 10px;
}

.item-map {
    margin-left: auto;
    margin-right: auto;
    display: block;
}


.item.item-divider.time-bar {
  background-color: #FFD54F;
  border: none;
  font-weight: 500;
  font-size: 1.2em;
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;

}

ui-gmap-google-map > div.angular-google-map > div.angular-google-map-container {
  width: 100%;
  height: 200px; /* this needs to be in px because google maps? */
}

