<ion-view>
  <ion-nav-title>
    <img class="header-logo-left" src="assets/img/logo.png"></img>
    Set your location
  </ion-nav-title>
  <ion-content class="padding">

    <div class="name">
      <h3>Where you at?</h3>
    </div>

    <div class="list">
      
      <div class="card" ng-repeat="item in items">
        <div class="item item-avatar" ng-click="goActionsDetail(item.id)">
          <img class="profile-img" ng-src="{{ item.image_url }}">
          <h2 class="card-header">
            {{ item.name }}
            <span class="right rating-bar">
              <img ng-src="{{ item.rating_img_url }}">
            </span>
          </h2>
          {{ item.location.cross_streets || item.location.neighborhoods[0] }}
        </div><!-- /item item-avatar -->
      </div><!-- /card -->

    </div><!-- /list -->


  </ion-content>

</ion-view>
