<md-toolbar class="app-header">
  <div class="md-toolbar-tools">
    <img class="logo" src="/assets/icons/logo.png"></img>
    <h2 class="md-flex">Admin Dashboard</h2>
  </div>
</md-toolbar>

<div class="container">

  <div layout="row" class="heading">
    <h2>Dashboard Summary</h2>
  </div>

  <div layout="row">
    <div flex flex="33">
      <md-card class="red">
        <md-card-content>
          <h2>Items Reported</h2>
          <h1>{{ summary.count_1 }}</h1>
        </md-card-content>
      </md-card>
    </div>
    <div flex flex="33" >
      <md-card class="yellow">
        <md-card-content>
          <h2>Items Active</h2>
          <h1>{{ summary.count_2 }}</h1>
        </md-card-content>
      </md-card>
    </div>
    <div flex flex="33" >
      <md-card class="teal">
        <md-card-content>
          <h2>Items Completed</h2>
          <h1>{{ summary.count_3 }}</h1>
        </md-card-content>
      </md-card>
    </div>
  </div><!-- end of summary card -->

  <div layout="row" class="heading">
    <h2>Item Details</h2>
  </div>

  <div layout="row">
    <div flex="50">
      <h2>Item Detail 1</h2>
      <div class="graph-container">
        <canvas id="chart1" class="chart chart-line" 
          chart-data="chart1.data"
          chart-labels="chart1.labels" 
          chart-legend="false" 
          chart-series="chart1.series"
          >
        </canvas> 
      </div>
    </div>
    <div flex="50">
      <h2>Item Detail 2</h2>
      <div class="graph-container">
        <canvas id="chart2" class="chart chart-bar" 
          chart-data="chart2.data"
          chart-labels="chart2.labels" 
          chart-legend="false" 
          chart-series="chart2.series"
          >
        </canvas> 
      </div>
    </div>
  </div>

  <div layout="row" class="heading">
    <h2>Item Detail 3</h2>
  </div>
  <div flex layout="row">
    <div flex="20" class="select-items" layout="column">
      <div layout="column" layout-wrap class="item-selector">
        <div ng-repeat="category in categories">
          <md-card class="item-card" ng-class="{selected: category.name == selected_category.name" ng-click="setSelectedCategory(category)">
            <md-card-content>
              <img ng-src="/assets/icons/issue-{{ category.name }}.png"></img>
              <h2 class="md-title">{{ category.name }}</h2>
              <span class="left stats">{{ category.item_count }}</span>
              <span class="right stats">{{ category.item_stat_count }}</span>
            </md-card-content>
          </md-card>
        </div>
      </div>
    </div>

    <div flex="80" class="item-details" layout="column">
      <div layout="row" class="image-stats">
        <div flex="35" class="item-image">
          <img ng-src="{{ SERVER_URL }}/api/dashboard/categories/{{ selected_category.name }}/map"></img>
        </div>

        <div flex="65" class="parent">
          <div layout="column" class="description">
            <h1 class="first-letter">{{ selected_category.name }}</h1>
          </div>
          <div layout="row" class="stats-cards">
            <div flex flex="50">
              <md-card class="red">
                <div>Items Count</div>
                <div class="value">{{ selected_category.item_count }}</div>
              </md-card>
            </div>
          </div>
          <div layout="row" class="stats-cards">
            <div flex flex="50">
              <md-card class="teal">
                <div>Active Items Count</div>
                <div class="value">{{ selected_category.item_stat_count }}</div>
              </md-card>
            </div>
          </div>


        </div>
      </div>

      <div layout="row">
        <div flex="50">
          <h2>Item History</h2>
          <div class="graph-container">
            <canvas id="chart3" class="chart chart-line" 
              chart-data="chart3.data"
              chart-labels="chart3.labels" 
              chart-legend="false" 
              chart-series="chart3.series"
              >
            </canvas> 
          </div>
        </div>
        <div flex="50">
          <h2>Item Active History</h2>
          <div class="graph-container">
            <canvas id="chart4" class="chart chart-bar" 
              chart-data="chart4.data"
              chart-labels="chart4.labels" 
              chart-legend="false" 
              chart-series="chart4.series"
              >
            </canvas> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

