<ion-view>
  <ion-nav-title>Wait time at {{ item.name }}</ion-nav-title>
  <ion-content class="padding pledges-detail">
    <div class="name">
      <h3>How long is the wait?</h3>
    </div>

    <button class="button button-full button-balanced wait-button-1" ng-click="setWaitTime(item.id, 15)">
      15 Minutes
    </button>

    <button class="button button-full button-balanced wait-button-2" ng-click="setWaitTime(item.id, 30)">
      30 Minutes
    </button>

    <button class="button button-full button-balanced wait-button-3" ng-click="setWaitTime(item.id, 45)">
      45 Minutes
    </button>

    <button class="button button-full button-balanced wait-button-4" ng-click="setWaitTime(item.id, 60)">
      1 Hour
    </button>

    <button class="button button-full button-balanced wait-button-5" ng-click="setWaitTime(item.id, 90)">
      1.5 Hours
    </button>

    <button class="button button-full button-balanced wait-button-6" ng-click="setWaitTime(item.id, 120)">
      2 Hours
    </button>

    <button class="button button-full button-balanced wait-button-7" ng-click="setWaitTime(item.id, 150)">
      Too Darn Long!!!
    </button>

  </ion-content>

</ion-view>
