<ion-view>
  <ion-nav-title>
      <img class="header-logo-left" src="assets/img/logo.png"></img>
      Recent Activity
  </ion-nav-title>
  <ion-content class="padding item-feed">

    <div class="list">

      <div>
       <ui-gmap-google-map class="activity-map" center='map.center' zoom="map.zoom">
         <ui-gmap-marker ng-repeat="item in feed_items" 
            coords="{ latitude: item.business.location.coordinate.latitude, longitude: item.business.location.coordinate.longitude }"
            options="{icon: 'assets/img/wait_icon_'+item.wait_minutes+'.png'}"
            idkey="$index">
         </ui-gmap-marker>
      </ui-gmap-google-map>
     <div>

      <div class="card" ng-repeat="item in feed_items">
        <div class="item item-avatar">
          <img class="profile-img" ng-src="{{ item.business.image_url }}">
          <h2 class="card-header">
            {{ item.business.name }}
            <span class="right rating-bar">
              <img ng-src="{{ item.rating_img_url }}">
            </span>
          </h2>
          {{ item.business.location.cross_streets || item.business.location.neighborhoods[0] }}
        </div><!-- /item item-avatar -->
        <div>
          <span class="travel-time">{{ item.wait_minutes }} minutes wait</span>
          <span class="wait-time">Reported by {{ item.user.name || item.user.username }}</span>
        </div>
      </div><!-- /card -->


    </div>


    <br>
  </ion-content>

</ion-view>
