<div>
    <ui-gmap-google-map class="activity-map" bounds="map.bounds" center='map.center' zoom="map.zoom">
       <ui-gmap-marker ng-repeat="marker in map.markers" 
       		coords="marker.coords"
       		options="marker.options"
       		idkey="marker.id">
       </ui-gmap-marker>
    </ui-gmap-google-map>
</div>
