<ion-view>
  <ion-nav-title class="type-header">{{item.name}} </ion-nav-title>
  <ion-content class="padding route-detail">
    <div class="name">
      <h3 class="type-header">{{ item.name }}</h3>
      <h4>{{ item.categories[0][0] }} Restaurant</h4>
    </div>
    <div>
      <img class="detail-icon" ng-src="{{ item.rating_img_url_large }}">
    </div>
    <div>
      <a href="{{ item.mobile_url }}" target="_system"><img class="detail-icon" src="assets/img/yelp.png"/></a>
    </div>
    <div class="card">
      <div class="business-item">
        <img class="item-image" ng-src="{{ item.image_url }}" >
        <span class="item-description">{{ item.snippet_text }}</span>
      </div>
    </div>
    <div class="item item-divider time-bar">
      <span class="travel-time">{{ item.travel.travel_minutes | number:0 }} minutes away</span>
      <span class="wait-time">{{ item.wait.wait_minutes }} minutes wait</span>
    </div>
    <div class="name">
      <h4>{{ item.location.cross_streets || item.location.neighborhoods[0] }}</h4>
    </div>
    <div>
      <img class="item-map" ng-src="{{ SERVER_URL+'/api/map/'+item.id }}">
    </div>


  </ion-content>
</ion-view>
